@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
:root{
    --primary-color: rgba(174, 11, 5, 1);

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,body{
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
}

#helsingborg{

}

#front-page{
    display: fixed;
    top:0;
    right:0;
    left: 0;
    bottom:0;
    z-index: 100;
    background-image: url('/assets/images/background-image.jpg');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}


#logo{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width:50px;
    height: 50px;    
    cursor: pointer;
}

#accept-cookie{
    background-color: white;
    position: absolute;
    top:0;
    transform: translateY(-100%);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    transition: all 0.5s;
    z-index: 1;
}
#helsingborg.accepted #accept-cookie {
    display: none;
}
#helsingborg.accepted #front-page {
    height: 300px;
    top:0;
    
}
#helsingborg.accepted #logo {
    top: 20%;


}
#accept-cookie__container{
}

.accept-cookie__content{
    padding: 20px;
    display: flex;
    align-items: center;
    
}

.accept-cookie__text{
    width: 80%;
    font-size: 16px;
}

.accept-cookie__buttons{
    flex:1;
    display: flex;
    justify-content: space-evenly;
}

.btn{
    border: 1px solid rgba(0, 0, 0,0.2);
    cursor: pointer;
    min-width: 120px;
    padding: 5px 15px;
    border-radius:5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0,0.2);
    text-align: center;
    margin: 0 10px;
    transition: all 0.3s;
}

.btn:hover{
    background-color: lightblue;
}
 /* CSS for the logo */
#logo{
position:absolute;
width: 100px;
height: 100px; 
transform-style: preserve-3d;
animation: animate 20s linear infinite;
}
#logo:hover{
    animation-play-state: paused;
    cursor: pointer;
}
@keyframes animate {
    0%{
        transform: perspective(1000px) rotateY(0deg);
    }
    100%{
        transform: perspective(1000px) rotateY(360deg);
    }
    
    
}
#logo span{
position: absolute;
top:0;
left:0;
width: 100px;
height: 100px;
transform-origin: center;
transform-style: preserve-3d;
transform:rotateY(calc(var(--i)* 90deg))translateZ(26.69px);

}

#logo span img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
}